<div id="carouselIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselIndicators" data-slide-to="1"></li>
    <!-- <li data-target="#carouselIndicators" data-slide-to="2"></li> -->
<!--     <li data-target="#carouselIndicators" data-slide-to="3"></li> -->
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="/images/carousel/couch-view-sm.png" alt="View of the couch">
      <div class="carousel-caption">
      <h3>Look at this cool couch!</h3>
      <p>Here is a couch to sit on. So comfortable!</p>
    </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="/images/carousel/office-chairs-sm.png" alt="View of the chair seating">
      <div class="carousel-caption">
        <h3>Look at these cool chairs!</h3>
        <p>Here is a chair to sit on. So comfortable!</p>
      </div>
    </div>
    <!-- <div class="carousel-item">
      <img class="d-block w-100" src="/images/carousel/julie-lexi-couch-sm.png" alt="Dr. Julie and Lexi">
      <div class="carousel-caption">
        <h3>OMG IT'S A DOG!</h3>
        <p>Here is Lexi and I. DOG!</p>
      </div>
    </div> -->
    <!-- <div class="carousel-item">
      <img class="d-block w-100" src="/images/carousel/waiting-room-sm.png" alt="The waiting room">
      <div class="carousel-caption">
        <h3>Los Angeles</h3>
        <p>We had such a great time in LA!</p>
      </div>
    </div> -->
  </div>
  <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
