<div class="contact-blurb">
	<hr />
	<br />
	
	<div class="center">
		<p>
			Dr. Julie Griffin offers free phone consultations to help you determine if therapy with her might be a good fit for you.
		</p>

		<a href="/contact" class="btn btn-primary">Contact Dr. Julie Griffin</a>
	</div>

	<br />
	
	<h2>About Dr. Julie Griffin</h2>

	<p>
		Dr. Griffin uses an integrative psychodynamic approach to psychotherapy in order to help clients better understand themselves within their life context. She specializes in healing relationships, both through couples counseling and individual therapy.
	</p>

	<a href="/about-julie">Read Full Bio</a><br/>
	<a href="/treatment-options">See All Services</a>
</div>