<footer class="d-flex footer containter-fluid">
	<div class="col-md-6 col-lg-3 col-xl-3 footer-logo">
		<a href="/">
			<img src="/images/logo.svg" alt="{{ site.title }}" />
		</a>
	</div>
	<div class="flex-fill text-md-end footer-details">
		<ul class="social-icons">
			<li>
				<a href="https://www.facebook.com/DynamicReflectionsPsych" class="fa fa-facebook" aria-label="Facebook"></a>
			</li>
			<li>
				<a href="https://www.instagram.com/dynamicreflectionspsychology/" class="fa fa-instagram" aria-label="Instagram"></a>
			</li>
			<li>
				<a href="https://www.pinterest.com/drjuliegriffin/" class="fa fa-pinterest" aria-label="Pinterest"></a>
			</li>
			<li>
				<a href="https://www.linkedin.com/company/dynamic-reflections-psychology/about/" class="fa fa-linkedin" aria-label="LinkedIn"></a>
			</li>
		</ul>
		<p>Phone: <a href="tel:{{ site.phone_number }}">{{ site.phone_number }}</a></p>
		<p>{{ site.address }}</p>
		<p><a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
	</div>
</footer>	