<section class="slider-wrapper">
	<ul id="bxslider">
	  <li><img src="{{ site.base_url }}/images/slider/hike-with-dog.png" alt="Hiking with Lexi" /></li>
	  <li><img src="{{ site.base_url }}/images/slider/santorini.png" alt="View from the bay in Oia" /></li>
	  <li><img src="{{ site.base_url }}/images/slider/ski-slope.png" alt="Skiing Breck" /></li>
	  <li><img src="{{ site.base_url }}/images/slider/rocky-beach.png" alt="Rocky beach" /></li>
	  <li><img src="{{ site.base_url }}/images/slider/devils-head.png" alt="Devils head peak" /></li>
	  <li><img src="{{ site.base_url }}/images/slider/bay-with-boats.png" alt="Bay with boats" /></li>
	</ul>
</section>