.footer {
    height: 120px;
    width: 96%;
    padding: 10px 2%;
    overflow: hidden;
    position: relative;
    z-index: 10;
    color: #fff;
    background: $primaryColor;

    hgroup {
		float: left;
	}

	h1 {
        @extend .left;

		margin-top: 40px;

        a { 
            color: #fff;
        }
	}

    li a { 
        color: #fff; 
        transition: color 0.3s ease;

        &:hover {
            color: #000;
        }
    }

    .navigation {
        margin-top: 45px;
    }
    
    .footer-contact {
        position: absolute;
        left: 35%;
        text-align: center;
    }
}