.footer {
    color: #fff;
    flex-shrink: none;
    background: $primaryBackgroundColor;
    padding: 2rem 0 !important;

    p { 
        margin: 0;
        line-height: 2;
    }
    
    li a, a { 
        color: #fff;
    }
    
    li a { 
        transition: color 0.3s ease;

        &:hover {
            color: $primaryColor;
        }
    }
}