.navbar {
	height: 5rem;
	background: #e3f2fd;
}
.nav-item {
	.nav-link {
		color: #fff;
		font-size: 15px;
		font-family: 'cooper_hewittmedium';
		text-transform: uppercase;
		text-decoration: none;
		border: 2px solid transparent;
		transition: color 0.3s ease;

		&:hover {
			color: #000;
			cursor: pointer;
		}
	}
}	