.homepage-header {
	display: block;
	margin-top: 3rem;
	margin-bottom: 0;

	@include bp(desktop) {
		font-size: 2.5rem;
	}
}

.homepage-subheader {
	margin-top: .5rem;
	text-transform: uppercase;

	@include bp(desktop) {
		font-size: 2rem;
	}
}

.carousel {
	display: none;

	@include bp(ipadpro) {
		display: block;
	}

	@include bp(desktop) {
		display: block;
	}
}

.homepage-about-content {
	display: flex;
	flex-wrap: wrap;
	margin: 2rem 0 3rem 0;
	text-align: center;

	img {
		width: 50%;
	}

	@include bp(tablet) {
		p {
			padding: 0 5rem;
		}
	}

	@include bp(desktop) {
		margin: 8rem 0 6rem 0;

		h2, h3, p {
			text-align: left;
		}

		p {
			padding: 0;
		}
	}
}

.homepage-ctas {
	display: flex;
	flex-wrap: wrap;
	text-align: center;

	@include bp(desktop) {
		overflow: hidden;
	}
}

.homepage-cta {
	
	@include bp(desktop) {
		float: left;
	}

	margin: .5rem auto;
	padding: 3rem 2rem;

	h3 {
		font-size: 2rem;
		margin-top: 0;
		text-align: left;
	}

	p {
		margin: 0 auto;
		color: #000;
		text-align: left;
	}

	.learn-more {
		a {
			font-family: 'bebas_neue_light';
			font-size: 1.5em;
			margin-top: 1rem;
			
			&:hover {
				text-decoration: none;
			}
		}

		span {
			margin-top: 5px;
			margin-left: .3rem;
		}
	}

	.learn-more::before {
	    display: inline-block;
	    content: "";
	    width: 48vw;
	    margin-right: .5rem;
	    transform: translateY(-.4rem);

	    @include bp(ipadpro) {
			width: 9rem;
		}

	    @include bp(desktop) {
			width: 18rem;
		}
	}
}

.hc1 {
	h3 {
		color: $blueAccent;
		border-bottom: solid $blueAccent .3rem;
	}

	.learn-more a {
		color: $blueAccent;
	}

	.learn-more::before {
	    border-top: .3rem solid $blueAccent;
	}
}

.hc2 {
	h3 {
		color: $tangerineAccent;
		border-bottom: solid $tangerineAccent .3rem;
	}

	.learn-more a {
		color: $tangerineAccent;
	}

	.learn-more::before {
	    border-top: .3rem solid $tangerineAccent;
	}
}

.hc3 {
	h3 {
		color: $coralAccent;
		border-bottom: solid $coralAccent .3rem;
	}

	.learn-more a {
		color: $coralAccent;
	}

	.learn-more::before {
	    border-top: .3rem solid $coralAccent;
	}
}