.homepage-header {
	display: block;
	margin-top: 3rem;
	margin-bottom: 0;

	@include bp(desktop) {
		font-size: 2.5rem;
	}
}

.homepage-subheader {
	margin-top: .5rem;
	text-transform: uppercase;

	@include bp(desktop) {
		font-size: 2rem;
	}
}

.carousel {
	display: none;

	@include bp(ipadpro) {
		display: block;
	}

	@include bp(desktop) {
		display: block;
	}

	.carousel-item {
		height: 500px;
		position: relative;

		@include bp(ipadpro) {
			height: 374px;
		}

		img {
			position: absolute;
			bottom: -100px;
			left: 0;
		}
	}
}

.homepage-about-content {
	display: flex;
	flex-wrap: wrap;
	margin: 2rem 0 3rem 0;
	text-align: center;

	img {
		width: 50%;
	}

	@include bp(tablet) {
		p {
			padding: 0 5rem;
		}
	}

	@include bp(desktop) {
		margin: 6rem 0;

		h2, h3, p {
			text-align: left;
		}

		p {
			padding: 0;
		}
	}
}

.covid-cta {
	background: $tangerineAccent;
	margin-top: 2em;
	width: 50%;
	margin: 2em auto 0 auto;

	a {
		color: #fff;
	}

	h2 {
		padding: .5em;
	}
}