.navbar {
	min-height: 5rem;
	background: rgb(0,163,224);
	background: linear-gradient(90deg, rgba(0,163,224,1) 0%, rgba(0,191,178,1) 35%, rgba(118,215,212,1) 100%);
}

.navbar-dark .navbar-brand, .navbar-dark .navbar-nav .nav-link {
	color: #fff;
	font-family: 'bebas_neue_light';
	text-transform: uppercase;

	@include bp(tablet) {
        font-size: 2rem;
    }
}

.navbar-brand img {
	width: 75%;

	@include bp(tablet) {
		width: 100%;
		padding: 0rem .5rem .5rem .5rem;
	}
}

.navbar-dark .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-nav {
	margin-top: 2rem;
}

.nav-item {
	margin: 0 .5rem;
	.nav-link {
		text-decoration: none;

		&:hover {
			cursor: pointer;
			text-decoration: underline;
		}
	}

	&.active {
		text-decoration: underline;
	}
}	