html, body {
  height: 100%;
  margin: 0;
  background: #fff;
  color: #000;

  font-family: 'Roboto', light;

	a {
		color: $blueAccent;
	}

  img {
	width: 100%;
  }

  p, li {
  	line-height: 1.5;
  }

  p, li, a, strong {
  	font-size: 1rem;
  }
}

h1, h2 {
	font-family: 'ZCOOL XiaoWei';
}

h3, h4, h5, h6 {
	font-family: 'bebas_neue_light';
}

.container-fluid {
	//width: auto;
	padding: 0;
}

.page-title-wrapper {
	padding: 30px 0 30px;
	text-align: center;
	font-size: 3em;

	h2 {
		margin: 0;
	}
}

.body-content {
	margin: 35px 20px 35px;

	@include bp(desktop) {
		margin: 35px 50px 35px;
	}

	h3 {
		font-size: 2rem;
	}

	q {
		display: block;
		margin: 25px;
		font-style: italic;

		@include bp(desktop) {
			position: relative;
			left: 25px;
		}
	}

	.publications a {
		display: block;
		margin: 10px 0;

		&:hover {
			text-decoration: underline;
		}
	}
}

.services-blurb {
	margin: 0 8rem;
}

.services-content {
	margin: 3rem 0; 

	ul {
	  list-style: none;

	  li {
	  	line-height: 2;
	  }
	}

	ul li:before {
	  content: '✓';
	}

	img {
		width: auto;
	}
}

.contact-content {
	text-align: center;
	margin: 35px 20px 35px;
}

.contact-map {
	height: 200px;
	width: 300px;
	margin: 0 auto;

	@include bp(desktop) {
		height: 400px;
		width: 700px;
	}
}