html, body {
  height: 100%;
  margin: 0;

  // background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('../images/about-lexi-bw-cropped.png');
  background: url('../images/about-lexi.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  img {
	width: 100%;
  }

  p, li {
  	line-height: 1.5;
  }
}

.container-fluid {
	padding: 0;
}

.page-content {
	color: #fff;
	flex: 1 0 auto;
	background: $primaryBackgroundColor;

	a {
		color: #fff;
	}
}

.page-title-wrapper {
	padding: 30px 0 30px;
	text-align: center;
	font-size: 3em;
	color: #fff;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;

	h2 {
		margin: 0;
	}
}

.main-content {
	text-align: center;
}

.about-content {
	margin: 35px 20px 35px;

	@include bp(tablet) {
		margin: 35px 50px 35px;
	}

	img {
		margin-right: 25px;
		margin-bottom: 5px;

		@include bp(tablet) {
			width: 30%;
		}
	}

	q {
		display: block;
		margin: 25px;
		font-style: italic;

		@include bp(tablet) {
			position: relative;
			left: 25px;
		}
	}

	.publications a {
		display: block;
		margin: 10px 0;

		&:hover {
			text-decoration: underline;
		}
	}

	.about-me-img {
		margin-bottom: 25px;		
	}
}

.contact-content {
	text-align: center;
	margin: 35px 20px 35px;
}

.contact-map {
	height: 200px;
	width: 300px;
	margin: 0 auto;

	@include bp(tablet) {
		height: 400px;
		width: 700px;
	}
}