{% include top.html %}
  <body>
    <div id="wrapper" class="page-content container-fluid">
      
      {% include navigation.html %}

      <section class="main-content container-fluid">
      	{{ content }}
      </section>
    </div>
	  {% include footer.html %}
    {% include analytics.html %}


    <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script>
      $(document).ready(function() {
        var url = window.location;

        $('#navbar a').filter(function() {
            return url.href.includes(this.href);
        }).parent().addClass('active');
      })
    </script>
  </body>
</html>