{% include top.html %}
  <body>
    <div id="wrapper" class="wrapper">
      
      {% include header.html %}

      <section class="main-content">
      	{{ content }}
      </section>
    </div>
	{% include footer.html %}
    {% include analytics.html %}
  </body>
</html>

<!-- Lol -->
<button id="raptor" style="display: none"></button> 

<script src="{{ site.base_url }}/javascript/jquery.bxslider.min.js"></script>
<script src="{{ site.base_url }}/javascript/raptor/jquery.raptorize.2.0.js"></script>
<script src="{{ site.base_url }}/javascript/application.js"></script>