---
layout: default
---

<section class="post-wrapper">
	<article class="post">
		<hgroup>
			<div class="post-title">
				<h3>{{ page.title }}</h3>
				{% if page.subtitle %}
				<h4>{{ page.subtitle }}</h4>
				{% endif %}
			</div>
			<!-- <h5>{{ page.date | date: "%B %e, %Y" }}</h5> -->
		</hgroup>
		<p>
		{{ content }}
		</p>	
		<p>
			<strong>Ready to start your journey?</strong><br /><br />
			<a href="/contact" class="contact-btn btn btn-primary">Contact Dr. Julie Griffin</a>
			<br /><br />

			<!-- <strong>Tags:</strong>
			{{ page.tags }} -->
		</p>
		<a href="/resources">< Back to resources</a>
	</article>
</section>